$base-color: #A763FF;
$base-box-shadow:rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
// body * {
//     border: 1px solid pink;
// }
.categoryNav {
    width: 95vw;
    margin: 0 auto;
    .categoryNav-wrapper {
        display: flex;
        gap: 1rem;
        .category-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            img {
                width: 30px;
                height: 30px;
                margin-top: 40px;
                cursor: pointer;
            }
            .category-name {
                font-size: 12px;
                text-transform: capitalize;
                text-align: center;
                // max-width: 85px;
            }
        }
        &:hover {
            filter: brightness(80%);
        }
        .filter {
            display: flex;
            align-items: center;
            align-self: center;
            gap: .3rem;
            font-size: 12px;
            height: max-content;
            box-shadow: $base-box-shadow;
            padding: 5px;
            cursor: pointer;
            margin-top: 25px;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}