.proSignIn {
    display: flex;
    max-height: calc(100vh - 80px);
    width: 100vw;
    background-color: whitesmoke;
    gap: 20px;
    .left-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rebeccapurple;
        color: white;
        flex-wrap: wrap;
        width: 50%;
        opacity: 1;
        transition: opacity 3s;
        p {
            font-size: 50px;
            text-align: center;
            font-weight: 400;
        }
    }
    .right-bar {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 100px 20px 100px 20px;
        position: relative;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: bold;
            gap: 20px;
            cursor: pointer;
            span {
                text-transform: capitalize;
                font-size: 18px;
            }
            img {
                width: 44px;
                height: auto;
                transition: all .3s;
                padding: 12px;
                &:hover {
                    background-color: white;
                    border-radius: 50%;
                }
            }
            &.time {
                padding: 10px 15px;
                border: 1px solid rebeccapurple;
                background-color: whitesmoke;
                color: rebeccapurple;
                border-radius: 20px;
            }
        }
        .nav-buttons {
            position: absolute;
            bottom: 3%;
            // padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 500px;
             :nth-child(1) {
                border: none;
                border-bottom: 1px solid black;
                background-color: whitesmoke;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
             :nth-child(2) {
                background-color: black;
                color: white;
                opacity: (.8);
                &:hover {
                    opacity: (1);
                }
            }
            button {
                padding: 10px 15px;
                width: 100px;
                cursor: pointer;
                font-weight: bold;
                transition: 0.3s;
            }
        }
    }
}